.question-slider {
  max-width: 600px;
  /* margin: 6% auto; */
  margin-left: 6%;
  text-align: center;
  perspective: 1000px;
}

.flashcard {
  position: relative;
  width: 100%;
  height: 70vh;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 10px;
  background-color: #333;
  color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard-face {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.flashcard-front {
  font-size: 20px;
  white-space: pre-wrap;
}

.flashcard-back {
  width: 50%;
  transform: rotateY(180deg);
  background-color: #444;
  color: #fff;
  font-size: 18px;
  padding: 20px;
}

.option-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #444;
  color: #f0f0f0;
  cursor: pointer;
  border: none;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.back-option-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #328928;
  color: #f0f0f0;
  cursor: pointer;
  border: none;
}

.option-button:hover {
  background-color: #555;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.feedback {
  font-weight: bold;
  text-align: center;
}

.completion-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #323232;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #4caf50;
  font-family: "Arial", sans-serif;
  max-width: 500px;
  margin: 10% auto;
}

.completion-message h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

.completion-message p {
  font-size: 18px;
  color: #ccc;
  margin: 0;
}

.red-text {
  color: rgb(255, 88, 88);
}

.question-slider-container {
  width: 100%;
  height: 70vh;
}
