.testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1a1a1a;
  }
  
  .testimonials-header {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    font-family: "Happy Monkey", system-ui;
  }
  
  .testimonial-card {
    background-color: #333;
    color: white;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .testimonial-left {
    display: flex;
    align-items: center;
  }
  
  .testimonial-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .testimonial-image:hover {
    transform: scale(1.05);
  }
  
  .testimonial-info {
    text-align: left;
  }
  
  .testimonial-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .testimonial-occupation {
    font-size: 1.1rem;
    color: #06d6a0;
    margin-bottom: 5px;
  }
  
  .testimonial-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .testimonial-text {
    margin-left: 40px;
    font-size: 1.1rem;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    flex-grow: 1;
  }
  
  .testimonial-date {
    font-size: 0.9rem;
    color: #ccc;
    align-self: center;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .button {
    background-color: #06d6a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #05c08c;
  }
  