/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  z-index: 100;
}

/* Brand title */
.navbar-brand {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Navbar menu */
.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navbar items */
.navbar-item {
  margin-left: 1rem;
}

/* Navbar buttons */
.navbar-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #06d6a0;
  color: white;
  text-decoration: none;
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1rem;
  /* font-weight: bold; */
  border-radius: 25px; /* Rounded edges */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Smooth shadow for depth */
}

.navbar-button:hover {
  background-color: #05c08c;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }

  .navbar-button {
    width: 100%;
    text-align: center;
  }
}

.navbar-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-profile-image:hover {
  transform: scale(1.1);
}


