.question-slider {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .option-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .option-button.correct {
    background-color: #d4edda;
  }
  
  .option-button.incorrect {
    background-color: #f8d7da;
  }
  
  .feedback {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  .completion-message {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #4caf50; /* Green color */
    margin-bottom: 50px;
  }
  
  .completion-message h2 {
    margin-bottom: 10px;
  }
  
  .completion-message p {
    margin: 0;
  }
  

  .completion-message {
    text-align: center;
    margin: 20px;
  }
  
/* Center-align the Preamble heading and text */
.preamble-container {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #000;
  max-width: 600px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center-align the text */
  color: #333;
}

.preamble-container h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
  font-family: 'Georgia', serif;
}

.preamble-text {
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 1.6;
  white-space: pre-wrap; /* Preserve the line breaks in the text */
  color: #333;
  text-align: center; /* Center-align the Preamble text */
}