.profile-container {
    padding: 2rem;
    background-color: #333;
    color: white;
    font-family: "Happy Monkey", system-ui;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .profile-title {
    font-size: 2.5rem;
    color: #06d6a0;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* .profile-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  .profile-image-section {
    text-align: center;
    flex: 1;
    margin-right: 2rem;
  }
  
  .profile-image {
    width: auto;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .profile-name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: white;
  }
  
  .profile-username {
    font-size: 1rem;
    color: #b4b4b4;
  }
  
  .profile-details-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #06d6a0;
    margin-bottom: 1rem;
  }
  
  .detail-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .detail-label {
    width: 150px;
    font-weight: bold;
  }
  
  .detail-value {
    color: white;
  }
  
  .detail-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #444;
    color: white;
    font-family: inherit;
  }
  
  .profile-actions {
    text-align: center;
    margin-top: 2rem;
  }
  
  .edit-button,
  .save-button {
    padding: 0.75rem 2rem;
    background-color: #06d6a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .edit-button:hover,
  .save-button:hover {
    background-color: #04b384;
  }
  
  @media (max-width: 768px) {
    .profile-content {
      flex-direction: column;
      align-items: center;
    }
  
    .profile-image-section {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  
    .detail-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .detail-label {
      margin-bottom: 0.5rem;
    }
  }
  